/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

h1,
h2,
h3,
h4,
h5,
blockquote {
    font-family: 'Roboto', sans-serif;
}
blockquote {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.title-teal {
    color: #1de9c3
}

.bold-plus {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.regular {
    font-weight: 500;
}

.light {
    font-weight: 400;
}

.thin {
    font-weight: 300;
}

.pt-l {
    margin-top: 100px;
}

.pb-l {
    margin-bottom: 100px;
}

nav ul a {
  color: #444;
}
nav .brand-logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: #444;
    font-size: 2rem;
}
nav .brand-logo span{
  font-weight: 400;
  font-size: 1.5rem;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container .section.reviews {
    background-color: #00000094;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.contact-details li {
    margin-bottom: 10px
}
.contact-details i {
  margin-right: 10px
}

.yt-iframe {
  height:90vh; 
  width: 100%;
}
.social i {
  font-size: 2rem;
  margin-right: 2rem
}